{% include "datavis/base.html" %}
    <div class="container">
        <br>
        <a class="waves-effect waves-light btn right-align" target="_blank" href="https://www.google.com/maps/search/?api=1&query=23.549146,87.2924675">View on Map</a>
        <a class="waves-effect waves-light btn right-align" target="_blank" href="../view_history">View History</a>
        <br>
        <div class = "card col waves-effect waves-block waves-light hoverable pad">
            <h3><span class="value">{{percentage}}% </span>filled</h3>
            <div class="progress">
                <div class="determinate" style="width: {{percentage}}%"></div>
            </div>
        </div>
        <br>
        <div class = "card col waves-effect waves-block waves-light hoverable pad">
            <div class="card-title">Filled Up (in %)</div>
            <div id="humidity"></div>
        </div>
{% include "datavis/footer.html" %}
    <script>
    createHumidity();

    function getData(cnt) {
        if (cnt == 0 || cnt == 1){ // for the first instance, return %age
            $(".value").html({{ percentage }} + '% ');
            $(".determinate").css('width', {{ percentage }} + "% ");
            return {{ percentage }};
        }
        $.ajax({ // else make ajax query
            method: "GET",
            url: "/get_val/",
            data: {},
            success: function(data) {
                // console.log(data);
                percentage = data;
            },
        })
        $(".determinate").css('width', percentage + "%");
        $(".value").html(percentage + "% ");
        return percentage;
    };

    var pre_layout = {
        paper_bgcolor: 'white',
        font: {
            family :  'Roboto',
            size   :  12,
            color  :  '#444'
        },
        width: 600,
        height: 400,
        xaxis: {
            type: "date",
            tickformat: "%X", //to display time formatted as hh:mm:ss
            showline: false,
            autotick: true,
            gridcolor: 'rgb(238, 238, 238)',
            gridwidth: 1,
            showgrid:  true,
            zerolinecolor: '#444',
            zerolinewidth: 1,
            zeroline:  true,
            anchor:    'y1',
            
        },
        yaxis: {
            rangemode: "nonnegative",
            titlefont: {
                family :  'Roboto',
                size   :  12,
                color  :  '#444'
            },
            anchor:    'x1',
            range: [0, 100],
        },
    };


    function createHumidity(){
        var tempDiv = document.getElementById('humidity');

        var traceA = {
            x: [0],
            y: [0],
            type: 'scatter'
        };

        var data = [traceA];
    
        var layout = pre_layout;
        
        Plotly.plot( tempDiv, data );
        
        var cnt = 1;
        var interval = setInterval(function(){
            cnt = Math.floor(cnt / 5) * 5;
            Plotly.extendTraces(tempDiv,{
                x: [[cnt]],
                y: [[getData(cnt)]]
            },[0],5);

            cnt += 5;
        },5000);
    }
    </script>

    <!-- Report Problem starts -->
    <!-- <div>
        <a class="waves-effect waves-light btn center-align" href="../add_comment">Report a Problem</a>
    </div> -->
    
    <div class = "row">
        <div class = "col l12 m12 s12">
            <div class = "card waves-effect waves-block waves-light hoverable pad">
                <div id = "report" class = "card-content col s11 m11 l11">
                    <h4>Report Problems</h4>
                    <hr>
                    {% block content %}
                        <form method="POST" class="post-form">{% csrf_token %}
                            {{ form.as_p }}
                            <button type = "submit" class="save btn btn-default">Send</button>
                        </form>
                    {% endblock %}
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Report Problem ends -->

    <br>
    <br>

    <div class = "row">
        <div id = "reported-problems" class = "card col s12 m12 l12">
            <h4>Reported Problems</h4>
            <hr>
            <br> <br>
            <div class = "row">
                {% for comment in comments.all %}
                    <div class = "comment card col s11 l10 m11 hoverable z-depth-1">
                        <!-- <div class="card-panel"> -->
                            <small class="icon-text">
                                <i class="material-icons tiny">date_range</i>{{ comment.created_date }}
                            </small>
                            <br><strong>{{ comment.author }}</strong> reported
                            <blockquote>{{ comment.text|linebreaks }}</blockquote>
                        <!-- </div> -->
                    </div>
                        {% empty %}
                            <p>No Problems Reported!</p>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>

    </div>
</body>
</html>
